body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Vazirmatn", sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: #660000;
  padding: 20px;
  border-bottom: 3px solid #fff;
}

nav {
  background-color: #800000;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

nav a:hover {
  color: #ff3c3c;
}

.card {
  background-color: #990000;
  margin: 40px auto;
  padding: 20px;
  width: 320px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.card img {
  width: 150px;
  margin: 10px 0;
}

footer {
  background-color: #660000;
  padding: 15px;
  border-top: 3px solid #fff;
  margin-top: 40px;
  font-size: 14px;
  color: #ddd;
}


